.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 15px 15px;
  border-bottom: 1px solid lightgray;
}
.main-logo img {
  height: 80px;
  width: 80px;
  cursor: pointer;
  margin-left: 50px;
}
.menu-list {
  list-style: none;
  display: flex;
  gap: 40px;
}
.menu-list li {
  font-size: 22px;
  cursor: pointer;
}
.feed-container {
  padding: 15px 30px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}
.card {
  cursor: pointer;
  transition: 0.1s ease-in-out;
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 20px;
}
.card:hover {
  transform: scale(0.98);
}
.card img {
  height: 180px;
  width: 300px;
  border-radius: 20px;
}
.hotel-name {
  margin: 10px 0;
}
.card p {
  margin: 5px 0;
}
.card-details {
  padding: 10px;
}
.card .hotel-name {
  font-size: 20px;
}
.filters-container {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-bottom: 20px;
}
.filters-container input {
  padding: 8px 10px;
  outline: none;
  /* width: 300px; */
}
.filters-container .filter-btn {
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  background-color: orange;
  font-weight: bold;
}
.feed-container .filter-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
